In [2]:
import loadIBM as ibm
#departments, employees, instructor,
#jobs, job_history, locations
#petrescue, petsale
querySelect = "SELECT * FROM petsale"

df = ibm.loadData(querySelect,
              "rrf19314",
              "LisSXUFYqb5DxlmA",
              "ba99a9e6-d59e-4883-8fc0-d6a8c9f7a08f.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud",
              "31321")

C:\Users\simpl\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Extracted to dataframe.

In [3]:
print(df['ANIMAL'], df['SALEPRICE'])

0    Cat
1    Dog
2    Parrot
3    Hamster
4    Goldfish
Name: ANIMAL, dtype: object 0    450.09
1    666.66
2     50.00
3     60.60
4     48.48
Name: SALEPRICE, dtype: float64

In [4]:
queryTables = "select TABSCHEMA, TABNAME, CREATE_TIME from syscat.tables where tabschema ='RRF19314'"

tableTable = ibm.loadData(queryTables,
              "rrf19314",
              "LisSXUFYqb5DxlmA",
              "ba99a9e6-d59e-4883-8fc0-d6a8c9f7a08f.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud",
              "31321")
tableTable

C:\Users\simpl\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Extracted to dataframe.

   TABSCHEMA                 TABNAME                CREATE_TIME
0   RRF19314                 PETSALE 2022-07-31 02:50:29.900135
1   RRF19314               PETRESCUE 2022-08-01 09:17:57.752067
2   RRF19314               EMPLOYEES 2022-08-02 09:36:53.935511
3   RRF19314             JOB_HISTORY 2022-08-02 09:36:54.096791
4   RRF19314                    JOBS 2022-08-02 09:36:54.266100
5   RRF19314             DEPARTMENTS 2022-08-02 09:36:54.426472
6   RRF19314               LOCATIONS 2022-08-02 09:36:54.589572
7   RRF19314              INSTRUCTOR 2022-08-03 17:47:08.868245
8   RRF19314             CENSUS_DATA 2022-08-05 22:23:16.646243
9   RRF19314      CHICAGO_CRIME_DATA 2022-08-05 22:24:23.952807
10  RRF19314  CHICAGO_PUBLIC_SCHOOLS 2022-08-05 22:29:36.114340